<!DOCTYPE html>
<html lang="en">
	<head>
  	<meta charset="utf-8">
  	<meta name="description" content="Your description goes here">
  	<meta name="keywords" content="one, two, three">
	<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<title>LeadList</title>

		<!-- external CSS link -->
		<link rel="stylesheet" href="/normalize.css">
		<link rel="stylesheet" href="/style.css">
	</head>
	<body>
		<h1>LeastlistFS</h1>
		<h2>we're rendering!</h2>
		<button type="button">Populate me!</button>
		<form action="/addBusiness" method="POST">
			<input type="text" placeholder="business name" name="businessName">
			<input type="text" placeholder="phone number" name="businessPhone">
			<input type="text" placeholder="business address" name="businessAddress">
			
		</form>

		
		<div id="listingsBox"></div>
		<script type="text/javascript" src="/main.js"></script>
	</body>
</html>
