<!DOCTYPE html>
<html lang="en">
	<head>
  	<meta charset="utf-8">
  	<meta name="description" content="Your description goes here">
  	<meta name="keywords" content="one, two, three">
	<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<title>LeadList</title>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
		<!-- external CSS link -->
		<link rel="stylesheet" href="/normalize.css">
		<link rel="stylesheet" href="/style.css">
	</head>
	<body>
		<h1>LeastlistFS</h1>
		<h2>we're rendering!</h2>
		<!-- <button type="button">Populate me!</button> -->
		<form action="/addBusiness" method="POST">
			<input type="text" placeholder="business name" name="businessName">
			<input type="text" placeholder="phone number" name="businessPhone">
			<input type="text" placeholder="business address" name="businessAddress">
			<input type="submit">
			
		</form>

		
		<div id="listingsBox">
			<table id="businessTable">
				<tr id="headers">
					<th>Business Counter</th>
					<th>Business Name</th>
					<th>Business Phone</th>
					<th>Business Address</th>
					
				</tr>
				<% for(let i = 0; i< businesses.length;i++) {%> 
					<% if (i !== 0) {%>
					<tr class = "business">
						<td><%= i %></td>
						<td><%= businesses[i]['Business Name'] %></td>
						<td><%= businesses[i]['Business Phone'] %></td>
						<td><%= businesses[i]['Business Address'] %></td>
						<td><span class='fa fa-trash'></span></td>

					</tr>
						<%}
					%>
					<%}
				%>
			</table>
		</div>
		<script type="text/javascript" src="/main.js"></script>
	</body>
</html>
