/* Box Model Hack */
* {
  box-sizing: border-box;
  font-family: 'roboto',sans-serif,helvetica;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#listingsBox{
  max-height: 1200px;
  max-width: 75%;
  
  display: flex;
  overflow: scroll;
  justify-content: center;
}
th, td {
  border:1px solid black;
  
}
table{
  display: flex;
}
ul{
  list-style: none;
}
/******************************************
/* LAYOUT
/*******************************************/
header {

}

footer {

}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
