/* Box Model Hack */
* {
  box-sizing: border-box;
  font-family: 'roboto',sans-serif,helvetica;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  
}

#listingsBox{
 
  max-width: 75%;
  background-color: rgb(152, 222, 250);
  display: flex;
  
  justify-content: center;
}
th, td {
  border:1px solid black;
  
}
table{
  display: block;
  height: 100%;
  width: 100%;
}
ul{
  list-style: none;
}
/******************************************
/* LAYOUT
/*******************************************/
header {

}

footer {

}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
.toolTipText{
  visibility: hidden;
  position: absolute;
  z-index: 1;
  background-color: grey;
  padding: 2px;
  pointer-events: none;
}
.tooltip:hover .toolTipText{
  visibility: visible;
}
.editWindow{
  visibility: hidden;
  position:absolute;
  z-index: 1;
  height: 25%;
  width: 50%;
  background-color: grey;
  transform: translate(-110%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  

}